<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="LiteralExtensions ruleset" Description="This rule set contains all relevant rules." ToolsVersion="11.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1716" Action="None" />
  </Rules>
</RuleSet>